<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="brandHead">
  <link rel="icon" href="/images/favicon.ico" sizes="any">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32.png(v=1)}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16.png(v=1)}">
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/apple-touch-icon.png(v=1)}">
  <link rel="image_src" th:href="${metaBrandLogoUrl}">
  <meta name="application-name" th:content="${metaSiteName}">
  <meta itemprop="image" th:content="${metaBrandLogoUrl}">
</th:block>
