<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="brandHead">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/brand/favicon-32.png(v=2)}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/brand/favicon-16.png(v=2)}">
  <link rel="icon" type="image/x-icon" sizes="any" th:href="@{/brand/favicon.ico(v=2)}">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/brand/favicon.ico(v=2)}">
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/brand/apple-touch-icon.png(v=2)}">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" th:href="@{/brand/apple-touch-icon.png(v=2)}">
  <link rel="manifest" th:href="@{/brand/site.webmanifest(v=2)}">
  <link rel="image_src" th:href="${metaBrandLogoUrl}">
  <meta name="application-name" th:content="${metaSiteName}">
  <meta itemprop="image" th:content="${metaBrandLogoUrl}">
</th:block>
