<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="socialMeta">
  <meta name="description" th:content="${metaDescription}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" th:content="${metaSiteName}">
  <meta property="og:title" th:content="|${pageTitle} • ${metaSiteName}|">
  <meta property="og:description" th:content="${metaDescription}">
  <meta property="og:url" th:content="${metaUrl}">
  <meta property="og:image" th:content="${metaBrandLogoUrl}">
  <meta property="og:image:alt" th:content="${metaSiteName}">
  <meta property="og:image:type" content="image/svg+xml">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" th:content="|${pageTitle} • ${metaSiteName}|">
  <meta name="twitter:description" th:content="${metaDescription}">
  <meta name="twitter:image" th:content="${metaBrandLogoUrl}">
</th:block>
